.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 305px;
  box-shadow: 16px 17px 19px 0 rgba(65,128,124,0.4);
  min-height: 90px;
  margin: 16px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 2.25rem;
  font-family: "Open Sans", sans-serif;
  margin: 16px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 26px auto 0;
  padding: 9px 107px 10px 106px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 16px auto 60px;
  padding: 9px 71px 10px;
}