.u-section-1 .u-sheet-1 {
  min-height: 120px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  box-shadow: 16px 17px 19px 0 rgba(65,128,124,0.4);
  min-height: 90px;
  margin: 20px auto 10px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 2.25rem;
  font-family: "Open Sans", sans-serif;
  margin: 0 80px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1134px;
}

.u-section-2 .u-form-1 {
  height: 1120px;
  background-image: none;
  margin: 14px 186px 0 221px;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-form-group-11 {
  margin-left: 0;
}

.u-section-2 .u-form-group-12 {
  margin-top: 20px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-right: 86px;
    margin-left: 121px;
  }

  .u-section-2 .u-form-group-2 {
    margin-bottom: 0;
    margin-right: 0;
  }

  .u-section-2 .u-form-group-3 {
    margin-right: 0;
  }

  .u-section-2 .u-form-group-4 {
    margin-right: 0;
  }

  .u-section-2 .u-form-group-5 {
    margin-right: 0;
  }

  .u-section-2 .u-form-group-6 {
    margin-right: 0;
  }

  .u-section-2 .u-form-group-7 {
    margin-right: 0;
  }

  .u-section-2 .u-form-group-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 118px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: 27px auto;
}.signup-form {
}